@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&family=Poppins:wght@700&family=Roboto:wght@100;400&family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary-color: #415e6b;
  --primary-green: #5c6a4d;
  --light-green: #999b84;
  --primary-black: black;
  --text-color: #75464a;
  --hover-color: #909d9d;
  --font-family: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.about-us-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  padding: 5rem 5rem;
  flex-direction: column;
  gap: 5rem;
}
.about-sec-us-title {
  font-size: 3.2rem;
  font-family: 'Outfit';
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration:3s; /* don't forget to set a duration! */
}
.about-us {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
}
.about-us-img-wrapper {
  width: 50%;
  height: 100%;
}
.about-us-img-wrapper img {
  width: 45vw;
  height: 60vh;
  object-fit: cover;
}
.about-us-text-wrapper {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.anther-color {
  font-size: 2rem;
  font-family: var(--font-family);
  margin-right: 0.5rem;
  color: #ffc727;
  letter-spacing: 0.2rem;
}
.about-us-title {
  font-size: 2rem;
  font-family: var(--font-family);
  color: var(--primary-color);
  letter-spacing: 0.2rem;
}

.about-us-text-wrapper p {
  font-size: 1.1rem;
  font-family: 'Outfit';
  color: var(--primary-color);
  font-weight: 500;
}
.v-m-title {
  font-size: 2rem;
  font-family: var(--font-family);
  color: var(--primary-color);
  letter-spacing: 0.2rem;
}

/*about-us section*/

/*why-choose-us*/

.why-choose-us-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  flex-direction: column;
  gap: 3rem;
}

.why-choose-us-title {
  font-size: 3.2rem;
  font-family: 'Outfit';
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-align: center;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration:3s; /* don't forget to set a duration! */
}

.why-choose-us-cards-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}

.why-choose-us-card {
  border: 3px rgb(231, 231, 231) solid;
  box-shadow: 5px 5px #ffc727;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.why-choose-us-card svg {
  width: 60px;
  height: 60px;
  color: var(--primary-color);
}

.why-choose-us-card h2 {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-family: 'Outfit';
  text-align: center;
}

/*why-choose-us*/


/*our-team section*/

.our-team-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  padding: 5rem;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 4rem;
}
.our-team-us-title {
  font-size: 3.2rem;
  font-family: 'Outfit';
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration:3s; /* don't forget to set a duration! */
}

.our-team-cards-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 4rem;
  margin-top: 3rem;
}

.our-team-card {
  border: 3px rgb(231, 231, 231) solid;
  box-shadow: 5px 5px #ffc727;
  width: 300px;
  height: 430px;
  border-radius: 0.8rem;
  display: flex;
  padding: 0.2rem;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
.our-team-card:hover{

  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration:3s; /* don't forget to set a duration! */
}
.our-team-card img {
  width: 290px;
  height: 70%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.our-team-card-name {
  font-size: 1.5rem;
  font-family: 'Outfit';
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.our-team-card-icons {
  display: flex;
  gap: 0.5rem;
}
.our-team-card-icons svg {
  width: 35px;
  height: 35px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: white;
}
/*our-team section*/


/*resposive*/
@media (max-width: 768px) {
  .about-us-container {
    padding: 0rem;
  }
  .about-us {
    flex-direction: column;
  }
  .about-us-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .about-us-img-wrapper img {
    width: 90vw;
    object-fit: contain;
    height: 30vh;
  }
  .why-choose-us-container {
    justify-content: center;
    align-items: center;
  }

  .why-choose-us-title {
    font-size: 2.5rem;
  }
  .why-choose-us-cards-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-team-us-title {
    text-align: center;
  }
  .our-team-cards-con {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1280px) {
  .our-team-cards-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1224px) {
  .about-us-container {
    padding: 0rem;
  }
  .about-us {
    flex-direction: column;
  }
  .about-us-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .about-us-img-wrapper img {
    width: 90vw;
    object-fit: contain;
    height: 30vh;
  }
  .why-choose-us-container {
    justify-content: center;
    align-items: center;
  }

  .why-choose-us-title {
    font-size: 2.5rem;
  }
  .why-choose-us-cards-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-team-us-title {
    text-align: center;
  }
  .our-team-cards-con {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 320px) {
  .about-us-container {
    padding: 0rem;
  }
  .about-sec-us-title {
    text-align: center;
    font-size: 2rem;
  }
  .about-us {
    flex-direction: column;
  }
  .about-us-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .about-us-img-wrapper img {
    width: 90vw;
    object-fit: contain;
    height: 30vh;
  }
  .why-choose-us-container {
    justify-content: center;
    align-items: center;
  }
  .about-us-text-wrapper {
    width: 90vw;
    text-align: center;
  }
  .why-choose-us-title {
    font-size: 2rem;
  }
  .why-choose-us-cards-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-team-us-title {
    text-align: center;
    font-size: 2rem;
  }
  .our-team-cards-con {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-team-card {
    width: 260px;
    text-align: center;
    padding: 0rem;
  }
  .our-team-card img {
    width: 240px;
  }
}
