@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&family=Poppins:wght@700&family=Roboto:wght@100;400&family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary-color: #415e6b;
  --primary-green: #5c6a4d;
  --light-green: #999b84;
  --primary-black: black;
  --text-color: #75464a;
  --hover-color: #909d9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.product-list-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 15rem;
  margin-bottom: 5rem;
  padding: 0.5rem;
}
.tabel {
  height: 100vw;
}
.pages {
  display: flex;
  width: 100px;
  gap: 1rem;
  justify-content: center;
}
.edit-delet-productList {
  display: flex;
  width: 200px;
  gap: 0.5rem;
}
#tbody-product-list {
  height: 50px;
}
.productList-title {
  font-size: 3.2rem;
  text-align: center;
  font-family: 'Outfit';
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 0.5rem;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  margin-bottom: 1rem;
}

#tbody-product-list td {
  color: var(--primary-color);
  font-size: 1rem;
  font-family: 'Poppins';
}

.creat-product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  border-radius: 0.4rem;
  border: 1px solid white;
  cursor: pointer;
  padding: 0.8rem;
  color: white;
  font-weight: 650;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;

  background-color: #ffc727;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.creat-product-btn:hover {
  color: white;
  background-color: var(--hover-color);
}

.produt-edit-delet--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 0.4rem;
  border: 1px solid white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.4rem;
  color: white;
  font-weight: 650;

  transition: background-color 0.3s ease;
  margin-top: 1rem;
  background-color: #ffc727;
  text-transform: capitalize;
}
.produt-edit-delet--btn:hover{
  color: white;
  background-color: var(--hover-color);
}

/*ipad*/
@media only screen and (max-width: 1224px) {
  .product-list-container {
    margin-bottom: 15rem;
  }
  .productList-title {
    font-size: 1.4rem;
  }
  #tbody-product-list td {
    font-size: 0.5rem;
  }
  #thead-product-list th {
    font-size: 0.5rem;
  }
  .edit-delet-productList {
    width: unset;
    margin-top: -1rem;
  }
  .produt-edit-delet--btn {
    font-size: 0.4rem;
  }
  .creat-product-btn {
    margin-top: -0.5rem;
  }
}

@media only screen and (max-width: 748px) {
  .product-list-container {
    margin-bottom: 5rem;
  }
  .productList-title {
    font-size: 1.4rem;
  }
  #tbody-product-list td {
    font-size: 0.3rem;
  }
  #thead-product-list th {
    font-size: 0.3rem;
  }
  .edit-delet-productList {
    width: unset;
    margin-top: -1rem;
  }
  .produt-edit-delet--btn {
    font-size: 0.3rem;
  }
  .creat-product-btn {
    margin-top: -0.5rem;
  }
}

/*fold*/
@media only screen and (max-width: 320px) {
  .productList-title {
    font-size: 1rem;
  }
  #tbody-product-list td {
    font-size: 0.2rem;
  }
  #thead-product-list th {
    font-size: 0.2rem;
  }
  .edit-delet-productList {
    width: unset;
    margin-top: -1rem;
  }
  .produt-edit-delet--btn {
    font-size: 0.2rem;
  }

  .creat-product-btn {
    font-size: 0.5rem;
    margin-top: -0.5rem;
  }
}
